*{
    padding: 0px;
    margin: 0px;
}

html, body{ 
    height: 100%;
    background-color: rgb(29, 29, 29);
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.cajaGrande {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border: solid 5px rgb(207, 207, 207);
    background-color: rgb(61, 61, 61);
    color: rgb(235, 235, 235);
    text-shadow: 1px 2px 5px white;
    font-size: 6vh;
}

.cajaGrandeMenu {
    border: solid 5px rgb(207, 207, 207);
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    background-color: rgb(61, 61, 61);
    text-shadow: 1px 2px 5px white;
    font-size: 6vh;
}


/*********************************TARJETAS********************************************/

.tarjetaGrande{
    width: 70vh;
    height: 70vh;
    flex-direction: column;
    display: flex;
    align-items: center;
    border-radius: 20px 20px 10px 10px;
    margin: 20px;
    background-color: rgba(0, 0, 0, 0.603);
    border-radius: 30px 30px 10px 10px;
    box-shadow: 3px 10px 20px rgb(0, 0, 0);
}

.tarjetaMediana {
    width: 60vh;
    height: 35vh;
    flex-direction: row;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px 20px 10px 10px;
    margin: 20px;
    background-color: rgba(0, 0, 0, 0.603);
    border-radius: 30px 30px 10px 10px;
    box-shadow: 3px 10px 20px rgb(0, 0, 0);
}

.tarjetaChicaGif {
    background-repeat: no-repeat;
    width: 50vh;
    height: 30vh;
    border: rgba(255, 0, 0, 0.322) 3px solid;
    border-radius: 30px 30px 30px 30px;
    box-shadow: 1px 3px 10px rgb(0, 0, 0);
}

.tarjetaChica1 {
    background-repeat: no-repeat;
    background-size: contain;
    width: 50vh;
    height: 50vh;
    background-size: cover;
    border: rgb(221, 221, 221) 10px solid;
    background-image: url(imagenes/clavera2.jpeg);
    border-radius: 30px 30px 30px 30px;
    box-shadow: 1px 3px 10px rgb(0, 0, 0);
}

.tarjetaChica2 {
    background-repeat: no-repeat;
    background-size: contain;
    width: 50vh;
    height: 50vh;
    background-size: cover;
    border: rgb(221, 221, 221) 10px solid;
    background-image: url(imagenes/calavera1.jpeg);
    border-radius: 30px 30px 30px 30px;
    box-shadow: 1px 3px 10px rgb(0, 0, 0);
}

.tarjetaChica3 {
    background-repeat: no-repeat;
    background-size: contain;
    width: 50vh;
    height: 50vh;
    background-size: cover;
    border: rgb(221, 221, 221) 10px solid;
    background-image: url(imagenes/calavera3.jpeg);
    border-radius: 30px 30px 30px 30px;
    box-shadow: 1px 3px 10px rgb(0, 0, 0);
}

.tarjetaTitulo {
    margin: 20px;
    font-size: 3vh;
    color: white;
    text-shadow: 1px 3px 5px black;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

/*********************************TARJETAS********************************************/
.centrarCaja {
    justify-content: center;
    align-items: center;
}

.cajaCentralTitulo {
    padding-top: 20px;
    font-size: 3vh;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
}

.cajaCentralTexto {
    font-size: 3vh;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    color: white;
}

.cajaChicaMenu {
    text-decoration: none;
    background-color: rgb(61, 61, 61);
    color: rgb(235, 235, 235);
    text-shadow: 1px 2px 5px white;
    font-size: 5vh;
}

.cilindroImagen {
    position: relative;
    width: 90vh;
    height: 80vh;
    background-image: url(imagenes/volumenCilindro.png);
    background-repeat: no-repeat;
    background-size: contain;
}

.input {
    border: 2px solid #ccc;
    border-radius: 4px;
    padding: 8px;
    font-size: 16px;
    outline: none;
    transition: border-color 0.3s ease-in-out;
}

.input:focus {
    border-color: #141414;
    box-shadow: 1px 3px 10px #ff0000;
}

.botonCalcular {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 3vh;
}

footer{ 
    padding: 20px;
}

.cajaGrandeFooter {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border: solid 5px rgb(207, 207, 207);
    background-color: rgb(61, 61, 61);
    color: rgb(235, 235, 235);
    text-shadow: 1px 2px 5px white;
    font-size: 6vh;
}